<div class="dashboard">
    <h2>History</h2>
    <div>
        <button ng-click="filterMood('All')">All</button>
        <button ng-click="filterMood('Happy')">Happy</button>
        <button ng-click="filterMood('Sad')">Sad</button>
        <button ng-click="filterMood('Angry')">Angry</button>
        <button ng-click="filterMood('Excited')">Excited</button>
        <button ng-click="filterMood('Anxious')">Anxious</button>
    </div>

    <ul>
        <li ng-repeat="entry in filteredHistory">
            {{entry.emotion}} - {{entry.date}}
        </li>
    </ul>
</div>
